<html lang="en">
<body>
<p>
    Dear @Model.UserName
</p>

<p>
    You your order #(@Model.OrderId) has been received and is being processed
</p>

<p>
    Thank you for being a valued customer!
</p>

</body>
</html>